body {
  background: #fff;
  font-size: 14px;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5, h6 {
  font-size: 1rem;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.pagination {
  li > a,
  li > a:focus,
  li > a:hover{
    color: #343a40;
  }

  .page-item.active > .page-link {
    border-color: #dee2e6;
    background-color: #343a40;
  }
}
